
@{
    ViewBag.Title = "error";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <div class="alert alert-danger">
                Não foi possivel incluir o email
                <a href="~/">Inicio</a>
            </div>
        </div>
    </div>
</div>